[Unit]
Description=<Update files on reboot>
Requires=basic.target network-online.target
After=basic.target network-online.target

[Service]
ExecStart=/home/setup/download_manager.sh

[Install]
WantedBy=multi-user.target
