[Unit]
Description=<Digit Kart Vision Service Manager>
Requires=basic.target network-online.target download_manager.service device_config.service docker.service
After=basic.target network-online.target download_manager.service device_config.service docker.service

[Service]
WorkingDirectory=/home/setup
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
